body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blinker {
  animation: blinking infinite 200ms step-end;
  font-family: Impact, sans-serif;
  color: white;
  text-shadow: 0 0 0.02em black, 0 0 0.02em black, 0 0 0.02em black, 0 0 0.02em black;
  font-size: 10em;
}

@keyframes blinking {
  70% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
